.App {
  text-align: center;
  height: 100vh;
  background-image: url("../images/handshake-3382503_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
